*{
  box-sizing: border-box;
}
img{
  width:70%; 
  max-height: 300px;
}
ul{
  padding: 0;
}
p{
  text-align: justify; 
  font-weight: bold;
}
h1{
  text-align: center;
}
.grid-item{
  margin: 5px;
  padding: 5px;
  box-shadow:5px 1px rgba(153, 119, 119, 0.474);
}
li{
  list-style: none;
}

/*Desktop Flex*/
.grid-flex{
  display: flex;  
  flex-wrap:wrap;  
}
.grid-flex li:nth-child(1){
  flex:0 0 48.5%  
}
.grid-flex li:nth-child(n+2){/*When we use '2' it's began to cadd or count from zero'2'*/
  flex: 0 0 24%;
} 

/*Desktop Float*/
section:nth-child(1) ul{ /*The UL in the First section*/
  float: left;    
}
.grid-floats li{
  float: left;
  width: 100%;
}
.grid-floats li:first-child{
  width: 47.5%;
  height: 450px; 
}
section:nth-child(1) ul li:nth-child(n+2){
  width: 23.5%;
  height: 450px;   
}

      /*Tablet Side*/

@media screen and (max-width: 1024px){

      /*Tablet flex*/
  .grid-flex li:nth-child(1){
    flex:1 1 47%  
  }
  .grid-flex li:nth-child(2){
    flex:1 1 47%  
  }
  .grid-flex li:nth-child(n+3){/*When we use '2' it's began to cadd or count from zero'2'*/
    flex: 1 1 31%;
  } 


      /*Tablet Float*/
.grid-floats li:first-child{
  width: 47.6%;  
}
section:nth-child(1) ul li:nth-child(2){
  width: 47.6%;  
}
section:nth-child(1) ul li:nth-child(n+3){
  width: 31.5%;    
}
}
      /*Phone Side*/

 @media screen and (max-width: 600px) {
   /*Phones Flex Grid*/
  .grid-flex li:nth-child(n+0){
    flex:1 1 100%;
  }
  /*Phones Float*/
  section:nth-child(1) ul li:nth-child(n+0){
    width: 100%;
      
  }
}

